.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.is-open {
  display: flex;
}

.modal-container {
  margin: 4rem;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1024px;
  overflow: hidden;
  background-color: #fff;
  z-index: 20;
}

.modal-close {
  position: absolute;
  z-index: 50;
  top: 0rem;
  right: 1rem;
  font-weight: 700;
  font-size: 2.5rem;
  color: red;
}
